header, nav, main, footer {
    max-width: 75rem;
    margin: auto;
}
header h1 {
    font-size: 2rem;
}

nav ul li a {
    padding: .7rem 2rem;
    font-size: .9rem;
} // end nav

//main
section {
    grid-template-columns: 1fr 1fr 1fr;
}